# IDE Directories
.vscode/
.idea/

# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so

# Misc Directories
/deployment/Python313/
/venv/
/logs/
/build/
/deployment/
/dist/
/Python313/

# Other files
wikirace_server.log
dns_info.txt
