# IDE Directories
.vscode/
.idea/

# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so

# Misc Directories
/deployment/Python313/
/venv/
/logs/
build_portable/
/Python313/

# Other files
wikirace_server.log
